{% extends "layout.html" %}

{% block title %}
    {{ hányadik }}. jutalom
{% endblock %}

{% block main %}
    <h1>{{ név }}, a(z) {{ hányadik }}. jutalmad:</h1><br>
    <h5>{{ jutalom }}</h5><br><br>
    <img src="{{ kepj }}"><br><br>
    <form action="/feladat" method="post">
        <button class="btn btn-primary" type="submit">
            {% if hányadik == 5 %}
                Nyeremény
            {% else %}
                Következő feladat >>
            {% endif %}
        </button><br><br>

{% endblock %}
